@font-face {
  font-family: 'Inter';
  src: url('/font/Inter.ttf');
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #18191A;
  color: #d3d5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-header {
  margin-bottom: 2rem;
  color: #d3d5dd;
  font-size: 1rem;
  text-align: center;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #242526;
  border-radius: 8px;
}

.join-cluster-form {
  width: 100%;
  padding: 2rem;
  background-color: transparent;
  border-radius: 0.625rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  color: #d3d5dd;
  margin-bottom: 0.75rem;
}

.form-group input {
  width: -webkit-fill-available;  padding: 0.75rem;
  border-radius: 1.25rem;
  border: 2px solid #333;
  background-color: #3d3d3d;
  color: #d3d5dd;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #4C17CA;
  box-shadow: 0 0 0 3px rgba(76, 23, 202, 0.2);
  outline: none;
}

.button, .join-button {
  display: block;
  width: -webkit-fill-available;
  padding: 0.625rem 1.25rem;
  margin-top: 1rem;
  border: none;
  border-radius: 1.25rem;
  background-color: #4C17CA;
  color: #fff;
  cursor: pointer;
}

.button:hover, .join-button:hover {
  background-color: #5B21B6;
}
